<div [hidden]="group || error" style="width: 100%; text-align: center">
  <div
    class="mdl-spinner mdl-js-spinner is-active"
    [mdl]
    style="margin: 16px auto"
  ></div>
</div>

<div class="m-pageLayout__container" *ngIf="error && !group">
  <m-errorSplash class="m-pageLayout__container"></m-errorSplash>
  <div class="m-pageLayout__pane--right"><!-- Spacer --></div>
</div>

<m-explicit-overlay
  [entity]="group"
  message="This group contains content that is NSFW"
  i18n-message="@@GROUPS__THIS_GROUP_CONTAINS_NSFW"
></m-explicit-overlay>

<div
  class="m-group__grid"
  [class.m-pageLayout__container]="hasNewNavigation"
  *ngIf="group && (group['is:member'] || group.membership == 2)"
>
  <!-- Sidebar -->
  <div
    class="m-groupGrid__left"
    [m-pageLayout__pane]="showRight ? 'main' : null"
    *mIfBrowser
  >
    <m-videochat></m-videochat>

    <header
      *ngIf="group && (group['is:member'] || group.membership == 2)"
      [ngClass]="[ 'm-group--' + filter + '-view' ]"
      [class.m-group--view-mode]="!editing"
    >
      <minds-banner
        [object]="group"
        [editMode]="editing"
        [top]="group.banner_position"
        [done]="editDone"
        (added)="add_banner($event)"
      >
      </minds-banner>
    </header>

    <div class="m-group__infoWrapper">
      <div class="m-group__info m-border">
        <minds-avatar
          [object]="group"
          [editMode]="editing"
          (added)="upload_avatar($event)"
        >
        </minds-avatar>
        <div class="m-groupInfo__rightIcons">
          <div class="m-group__searchBtnWrapper">
            <a class="m-groupSearchBtn" (click)="openSearchModal($event)"
              ><i class="material-icons">search</i></a
            >
          </div>
          <minds-groups-settings-button
            [(group)]="group"
            class="m-button"
            (change)="onOptionsChange($event)"
          >
          </minds-groups-settings-button>
        </div>
        <div class="m-groupInfo__member-previews">
          <m-group--member-previews [group]="group"></m-group--member-previews>
        </div>

        <!-- Name -->
        <div
          class="
            m-groupInfo__name
            m-group-info-name
            mdl-color-text--blue-grey-800
          "
        >
          <div [hidden]="editing || !group.name">
            <h1>
              <a
                class="m-isomorphic-link"
                [routerLink]="['/groups/profile', group.guid]"
              >
                {{group.name}}
              </a>
            </h1>
            <div class="m-groupInfo__actionButtons">
              <minds-groups-join-button
                [group]="group"
                (membership)="change_membership($event)"
                *ngIf="(!group['is:creator'] || (session.isAdmin()) && !group['is:invited'])"
              >
              </minds-groups-join-button>
              <m-button
                style="margin-left: 8"
                (onAction)="videochat.activate(group)"
                *ngIf="!group.videoChatDisabled && group['is:member']"
                size="small"
                [pulsating]="group.hasGathering$ | async"
              >
                <i class="material-icons">video_call</i>
                <span class="m-gatheringIcon">Gathering</span>
              </m-button>
            </div>
          </div>

          <div *ngIf="editing && group['is:owner']">
            <input
              type="text"
              class="h1"
              name="name"
              [(ngModel)]="group.name"
              placeholder="Enter a name"
              i18n-placeholder="@@GROUPS__NAME_PLACEHOLDER"
            />
          </div>
        </div>
        <!-- END NAME -->

        <!-- Brief description -->
        <p
          class="m-groupInfo__description"
          [hidden]="editing || !group.briefdescription"
          [innerHtml]="group.briefdescription | tags"
        ></p>

        <p
          class="m-groupInfo__description"
          *ngIf="editing && group['is:owner']"
        >
          <m-text-input--autocomplete-container>
            <textarea
              name="briefdescription"
              [autoGrow]
              [(ngModel)]="group.briefdescription"
              placeholder="Enter a brief description"
              i18n-placeholder="@@GROUPS__DESCRIPTION_PLACEHOLDER"
              mTextInputAutocomplete
              [findChoices]="findTrendingHashtags.bind(this)"
              [getChoiceLabel]="getChoiceLabel"
              [triggerCharacters]="['#']"
            >
            </textarea>
          </m-text-input--autocomplete-container>
        </p>
      </div>
      <!-- END INFO -->
    </div>
    <!-- END INFO WRAPPER -->

    <div class="m-group__feeds">
      <router-outlet></router-outlet>
    </div>
    <!-- End Feeds -->
  </div>
  <!-- END LEFT BLOCK -->

  <ng-container *ngIf="!group.conversationDisabled">
    <div class="m-groupGrid__toggleBtn" (click)="toggleConversations()">
      <i class="material-icons" *ngIf="showRight">keyboard_arrow_right</i>
      <i class="material-icons" *ngIf="!showRight">keyboard_arrow_left</i>
    </div>

    <div
      class="m-groupGrid__right"
      [m-pageLayout__pane]="hasNewNavigation ? 'right' : null"
      [hidden]="!showRight"
      *ngIf="!hasNewNavigation || showRight"
    >
      <!-- Conversation filter -->
      <minds-groups-profile-conversation [group]="group" *mIfBrowser>
      </minds-groups-profile-conversation>
      <!-- END: Conversation filter -->
    </div>
  </ng-container>
  <!-- END RIGHT BLOCK -->
</div>

<!-- IF A CLOSED GROUP AND NOT A MEMBER -->
<div
  class="m-group__splash--closed-group"
  *ngIf="group && !group['is:member'] && group.membership != 2"
>
  <minds-banner [object]="group" [top]="group.banner_position"></minds-banner>

  <div class="m-groupSplash__inner">
    <div class="m-groupSplash__avatar">
      <minds-avatar
        [object]="group"
        [editMode]="editing"
        (added)="upload_avatar($event)"
      ></minds-avatar>
    </div>

    <div class="m-group-info-name mdl-color-text--blue-grey-800">
      <h1>{{group.name}}</h1>
    </div>

    <minds-groups-join-button
      [group]="group"
      (membership)="change_membership($event)"
      *ngIf="!error"
    ></minds-groups-join-button>
  </div>
</div>
