@import 'themes';
@import '../app/foundation/grid-values';
@import 'z-index';

/**
 * Padding, Margins and Offset
 */
$minds-padding: 8px;
$minds-margin: 8px;
$minds-top-height: 50px;
$minds-navigation-width: 232px;

$min-mobile: 330px;
$max-mobile: 480px;
$min-tablet: 768px;
$min-desktop: 992px;
$min-huge: 1280px;

@mixin flex-display() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flexbox-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flexbox-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex($flex) {
  -webkit-flex: $flex;
  -moz-flex: $flex;
  -ms-flexbox: $flex;
  flex: $flex;
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

$layout-header-height: 64px;
$layout-sidebar-width: 80px;

// Media query mixins
@mixin mobile-only {
  @media screen and (max-width: $max-mobile) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $max-mobile) and (max-width: $min-desktop) {
    @content;
  }
}

@mixin hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin vertical-scroll {
  &::-webkit-scrollbar {
    width: 10px !important;
    @include m-theme() {
      background-color: rgba(themed($m-borderColor--primary), 0.35);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;

    @include m-theme() {
      background-color: themed($m-bgColor--contrast);
    }
  }
}

@mixin horizontal-scroll {
  &::-webkit-scrollbar {
    height: 10px !important;
    @include m-theme() {
      background-color: rgba(themed($m-borderColor--primary), 0.35);
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;

    @include m-theme() {
      background-color: themed($m-bgColor--contrast);
    }
  }
}

@mixin unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
