<div
  class="m-compassQuestionnaire__modal"
  data-cy="social-compass-questionnaire-modal"
>
  <div class="m-compassQuestionnaireModal__main">
    <span class="m-compassQuestionnaireModal__title">Build your algorithm</span>
    <span class="m-compassQuestionnaireModal__subtitle"
      >The preferences you set will improve your feed over time as the open
      source machine learning monkeys evolve.</span
    >
    <!-- TODO: Add more information link  -->
    <m-compassForm></m-compassForm>
  </div>
  <div class="m-compassQuestionnaireModal__toolbar">
    <m-button color="blue" (onAction)="submit($event)">Save</m-button>
  </div>
</div>
