@import 'defaults.scss';

:host {
  z-index: 1;
  max-width: 720px;
  .m-compassQuestionnaire__modal {
    display: flex;
    flex-flow: column;
    max-height: 80vh;
    @include m-theme() {
      background-color: themed($m-bgColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      min-height: 100vh;
      max-height: 100vh;
    }
  }

  span {
    display: block;
  }

  .m-compassQuestionnaireModal__main {
    padding: 45px 45px 20px;
    height: 80%;
    overflow-y: auto;

    @media screen and (max-width: $max-mobile) {
      padding: 20px;
    }
  }
  .m-compassQuestionnaireModal__toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 25px 45px;
    @include m-theme() {
      border-top: 1px solid themed($m-borderColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      padding: 20px;
    }
  }
  .m-compassQuestionnaireModal__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    @include m-theme() {
      color: themed($m-textColor--primary);
    }

    @media screen and (max-width: $max-mobile) {
      margin-top: 30px;
    }
  }

  .m-compassQuestionnaireModal__subtitle {
    margin-bottom: 35px;
    @include m-theme() {
      color: themed($m-textColor--secondary);
    }
  }
}
