@import 'defaults.scss';
@import '../../../common/layout/layout.scss';

// check on mobile designs
:host {
  .m-compassQuestionnaire__banner {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    @include m-theme() {
      background-color: themed($m-bgColor--primaryAlt);
      border-bottom: 1px solid themed($m-borderColor--primary);
    }

    span {
      display: block;
    }

    .m-compassQuestionnaireBanner__contentWrapper {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
    }

    .m-compassQuestionnaireBanner__textWrapper {
      display: flex;
      flex-flow: column;
      min-width: 190px;
    }
    .m-compassQuestionnaireBanner__title {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }

    .m-compassQuestionnaireBanner__subtitle {
      font-size: 14px;
      @include m-theme() {
        color: themed($m-textColor--secondary);
      }
    }

    .m-compassQuestionnaireBanner__buttonWrapper {
      // margin: 0 20px;
    }

    .m-compassQuestionnaireBanner__dismiss {
      display: flex;
      align-items: center;

      margin-left: 20px;

      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      i.material-icons {
        opacity: 0.6;
        transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
        cursor: pointer;
        font-size: 28px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @media screen and (max-width: $layoutMax2ColWidth) {
    .m-compassQuestionnaire__banner {
      padding: 20px;
      margin-right: 20px;
      @include m-theme() {
        border-right: 1px solid themed($m-borderColor--primary);
      }
    }

    .m-compassQuestionnaireBanner__dismiss {
      align-items: flex-start !important;
    }
  }

  @media screen and (max-width: 590px) {
    .m-compassQuestionnaireBanner__contentWrapper {
      flex-flow: column !important;
    }

    .m-compassQuestionnaireBanner__buttonWrapper {
      margin: 20px 0 0 0;
    }
  }

  @media screen and (max-width: $max-mobile) {
    .m-compassQuestionnaire__banner {
      margin: 0;
      @include m-theme() {
        border-right: none;
      }
    }
  }
}
