<ng-container *ngIf="show">
  <div
    class="m-compassQuestionnaire__banner"
    data-cy="social-compass-questionnaire-banner"
  >
    <div class="m-compassQuestionnaireBanner__contentWrapper">
      <div class="m-compassQuestionnaireBanner__textWrapper">
        <span class="m-compassQuestionnaireBanner__title"
          >Build your algorithm</span
        >
        <span class="m-compassQuestionnaireBanner__subtitle"
          >Set your echo chamber preferences</span
        >
      </div>
      <div class="m-compassQuestionnaireBanner__buttonWrapper">
        <m-button
          data-cy="social-compass-questionnaire-banner-button"
          [color]="'blue'"
          (onAction)="openModal()"
          >Start</m-button
        >
      </div>
    </div>
    <div class="m-compassQuestionnaireBanner__dismiss">
      <i class="material-icons" (click)="dismiss()">close</i>
    </div>
  </div>
</ng-container>
